@model IEnumerable<string>
@{
    ViewData["Title"] = "ImageShow";
}

<h1>ImageShow</h1>

@foreach(var item in Model)
{
    <div>
         <img src="~/images/@item" style=" width:100px; height:100px; border:1px;" />
         <h3>   @item</h3>
    </div>
}

<form  asp-action="ImageShow" method="post">
    <input type="text" name="name"  />
    <input type="submit" value="Delete" />
</form>