
@{
    ViewData["Title"] = "SaveImage";
}

<h1>SaveImage</h1>

<form asp-action="SaveImage" enctype="multipart/form-data">
    <input type="file" name="formFile"  />
    <button type="submit"> Save </button>
</form>